@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fafaf9; /* duende-cream */
  }
  
  /* Custom Scrollbar for a premium feel */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #fafaf9; 
  }
  ::-webkit-scrollbar-thumb {
    background: #d4af37; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0f392b; 
  }
}

.glass-nav {
  background: rgba(15, 57, 43, 0.95);
  backdrop-filter: blur(10px);
}

/* Utilities for modal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #d1d5db;
}